@model Equipment
@{
    ViewBag.Title = "Delete Equipment";
}

<h2>Confirm Deletion</h2>

<form asp-action="Delete" method="post">
    <div class="justify-content-center">
        <input type="hidden" asp-for="EquipmentId" />
        <div class="card" style="width: 18rem;">
            <img class="card-img-top p-2" src=@Model.IconURL alt="@Model.Name">
            <div class="card-body">
                <h5 class="card-title text-center">@Model.Name</h5>
                <p class="card-text">@Model.FlavorText</p>
                <button type="submit" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Delete</button>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary"><i class="fa fa-home"></i> Cancel</a>
            </div>
        </div>
    </div>
</form>