@model Equipment
@{
    string title = Model.Name + " " + ViewBag.Action;
    ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>

<!--Go home-->
<a asp-controller="Home" asp-action="Index" class="btn btn-primary m-3"><i class="fa fa-home"></i>  Cancel</a>